body {
    background-color: rgb(250, 250, 250);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.content-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(227, 227, 227);
    padding: 12px 0 24px 0;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 192px;
    margin: 36px 0 12px 0;
}

.form-container {
    margin: 24px 0 0 0;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.login-container input {
    max-width: 280px;
    padding: 12px 0 12px 8px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(250, 250, 250);
    margin: 0 40px 6px;
    outline: none;
    border-radius: 2px;
    color: rgb(142, 142, 142);
    font-size: 12px;
}

.login-container input::placeholder {
    color: rgb(142, 142, 142);
    opacity: 1;
}

.login-container input:focus {
    border: 1px solid rgba(143, 143, 143, 0.767);
    color: rgb(49, 49, 49);
}

.login-container button {
    margin: 8px 40px;
    color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: 0;
    padding: 8px 10px;
    background-color: rgb(189, 223, 252);
    border-radius: 4px;
}

.divider-container {
    margin: 10px 40px 18px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.divider-container span {
    width: 120px;
    height: 0.4px;
    background-color: rgb(219, 219, 219);
}

.divider-container div {
    font-size: 12px;
    color: rgb(142, 142, 157);
    font-weight: 600;
}

.loginfb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 40px;
}

.loginfb-container img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.loginfb-container a {
    text-decoration: none;
    color: rgb(59, 89, 152);
    font-size: 14px;
    font-weight: 600;
}

.forgotpsw-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.forgotpsw-container a {
    text-decoration: none;
    color: rgb(0, 55, 107);
    font-size: 12px;
}

.signup-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(227, 227, 227);
}

.signup-container div {
    font-size: 14px;
}

.signup-container a {
    color: rgb(42, 160, 247);
    font-weight: 600;
    letter-spacing: 0.6;
    text-decoration: none;
}

.span-container span {
    text-align: center;
    display: block;
    margin: 10px 20px 10px 20px;
    font-size: 14px;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.img-container img {
    height: 40px;
}

/* hovers */

.login-container button:hover {
    background-color: rgb(0, 148, 245);
    cursor: pointer;
}
.logo:hover {
    cursor: pointer;
}